.table
  .table-row
    .table-cell.sidebar
      %a{:href => "https://github.com/codeforbtv/adopt-a-drain"}
        = image_tag "logos/adoptadrain.png", :style => "margin-top:10px", :width => '90px', :alt => t("sponsors.city"), :title => t("sponsors.city")    
      %h1{:style => "font-size: 260%;  margin-bottom: 0"}
        Adopt a Drain

      %h4
        Burlington

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"

      #feedback
        %br
        %br
        %br
        %p
          Report maintenance needs to:
          %a{:href => "http://www.seeclickfix.com/burlington_2"}www.seeclickfix.com/burlington_2.

    .table-cell.map-container
      #map        
        &nbsp;
      #legend
